<div class="row mb-1 mt-1 ms-1 me-1 custom-border">
  <div class="col-md-1 border-right p-1 text-center">
    <img src="assets/product.png" width="80px" height="80px">
  </div>
  <!-- details client -->
  <div class="col-md-5 border-right ">
    <div class="row-div">
      <div><i class="fas fa-info-circle color-blue pe-2"></i></div>
      <div>Nom</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-info-circle color-blue pe-2"></i></div>
      <div>Prenom</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-phone-alt color-blue pe-2"></i></div>
      <div>06 23 34 65 87 98</div>
    </div>
  </div>

  <!-- coordonnés -->

  <div class="col-md-3 border-right ">
    <div class="row-div">
      <div><i class="fas fa-house color-blue pe-2"></i></div>
      <div>Adresse 1 Adresse 2</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-map-marker-alt color-blue pe-2"></i></div>
      <div>Ville</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-globe-africa color-blue pe-2"></i></div>
      <div>Pays</div>
    </div>
  </div>
  <!-- coordonnés -->
  <div class="col  mb-2 mt-3 ">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link"> <i class="fas fa-pencil color-warning"></i> Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link"><i class="fas fa-trash color-red"></i>&nbsp;Supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link"><i class="fas fa-list-squares color-blue "></i>&nbsp;&nbsp;Details</button>
      </div>
    </div>
  </div>
</div>
