<div class="row mb-1 me-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center">
    <img src="assets/product.png" width="100px" height="100px">
  </div>
  <!-- details article -->
  <div class="col-md-5 border-right mb-1 mt-1 ">
    <div class="row-div">
      <div><i class="fas fa-info-circle color-blue pe-2"></i></div>
      <div>Code article</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-info-circle color-blue pe-2"></i></div>
      <div>Designation</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-circle-dollar-to-slot color-blue pe-2"></i></div>
      <div>Prix HT</div>
    </div>
    <div class="row-div">
      <div><i class="fas fa-circle-dollar-to-slot color-blue pe-2"></i></div>
      <div>Prix TTC</div>
    </div>
  </div>

  <!-- details categories -->

  <div class="col-md-3 border-right mb-2 mt-3">
    <div class="row">
      <div class="col-md-2 mb-2 mt-3">
        <i class="fas fa-flag-checkered fa-xl color-blue pe-2"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12"> code Categorie</div>
          <div class="col-md-12">Description categorie</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 border-right mb-2 mt-3 ">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link"> <i class="fas fa-pencil"></i> Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link"><i class="fas fa-trash"></i>&nbsp;Supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link"><i class="fas fa-list-squares "></i>&nbsp;&nbsp;Details</button>
      </div>
    </div>
  </div>
</div>
