<div class="row mb-1 me-0 custom-border" style="height: 60px;">
  <!-- details article -->
  <div class="col-md-2 text-center border-right mt-3">
    <div>ART-1234</div>
  </div>
  <div class="col-md-3 text-center border-right mt-3">
    <div>Description de l'article</div>
  </div>
  <!-- details categories -->

  <div class="col-md-1 text-center border-right mt-3">
    <div>3</div>
  </div>
  <div class="col-md-3 text-center border-right mt-3">
    <div class=" "><h4>12.7</h4></div>
  </div>
  <div class="col-md-3 text-center mt-3">
    73
  </div>
</div>
